*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul, il {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.menu a + a{
    padding-left: 10px;
}

.menu li{
    display: inline-block;
}

.menu li + li{
    padding-left: 10px;
}

.header{
    padding: 0;
}

body {
    background-image: url("reproductive-health-supplies-coalition-bymICwLq-E4-unsplash.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

form {
    margin-top: 150px;
}